     <div class="text-justify" style="padding:25px 0;">
  <h4 class="orange text-center">Big Data</h4>
  <p>Businesses today operate in a “24x7 experience world” and organizations must reinvent themselves through strong data foundations to stay relevant in this age of digital disruption. With data converging into the enterprises from various forms of structured as well as unstructured; internal as well as external data sources, it has become all the more difficult for them to not only maintain stability but also to adopt to change.</p>
  <p>CNET helps effectively manage the 3Vs of data – Velocity, Variety and Volume. We have the knowledge & experience with relevant business use cases, technology solutions and the right data management tools to enable enterprises make Big Decisions from the Big Data.</p>
   <h5><strong><strong>We provide the following solutions with robust methodologies:</strong></strong></h5>
   <ul style="line-height:25px;">

<li>Advisory Services – CNET’s experienced advisors make platform assessments and Big Data fitment exercises to recommend best-fits</li>
<li> Blueprint – CNET’s data scientists clearly understand the client data patterns and come up with a strategic blueprint to help solve the Big Business Problems</li>
<li>Platform migrations to Big Data using mix of open source and traditional DBs and tools</li>
<li>Execute Big Data Business Use Case PoCs(proof of concept) in premise or inside lab</li>
<li>Create Big Data innovation Labs for the clients to work on new technologies and developments in big data and tools assessments</li>
<li>Data Visualization and Analytics – CNET partners with the best-in-class analytical tools in the market and helps visualize data in an understandable form to the business user who is more than often, the sponsor for such projects</li>
<li>CNET can implement NoSQL solutions over the cloud which can become a table stake for SMBs</li>
<li>Staff Augmentation with best-of-breed talent for in-house developments and projects</li>
   </ul>
<p>CNET’s recommends open source technologies for implementing Big Data Solutions for a quick RoI. We always extend a production parallel model to ensure Business as Usual (BAU) and do not shy away from proposing PoCs / pilot projects; because as we say in the analytics world, seeing is believing.</p>  
 <h5> <strong>NOTE:</strong> </h5> 

<p><strong>Differentiators </strong>– Please create an infographic on the points in the ppt.</p>
<p><strong>Technologies Supported </strong>– Please have a place in the right column for mentioning the Technologies supported in Big Data Solutions.
</p>
  
  </div>
    <style>
    div{
      font-size: 14px;
    }
    p{
    	line-height: 25px;
    }
  </style>