<head>
	<style>
	div{ font-size: 14px; }
    li{
      list-style-type: none; 
    }
    div{
      font-size: 14px;
    }
    p{
    text-align: justify;
      line-height: 25px;
    }
	</style>
</head>
<div style="padding: 25px 0;">
  <h3 class="orange"> Application Services</h3>
<br>
<p>Process Improvements, shrinking staffing, creating hyper-personalized, multichannel experiences and systems of engagement for customer delight remain top priorities for CIOs while outsourcing application management. However, decades old legacy systems which still support business critical functions act as a barrier in the digital transformation journey of an organization.</p>
<p>CNET Global Solutions, Inc. has delivered several projects with proven experience on application development and maintenance and application transformation which enable organizations embark on their digitalization journey with agility, flexibility and to achieve faster time to market.</p>
<p>Our best-of-breed Agile (XP and Scrum based) methodologies enable organizations to respond to unpredictability. Our release and maintenance framework adopts machine learning to proactively resolve incidents before impacting the business. CNET provides highest level of capability maturity, with best-in-class quality engineering and enhancement services that are CMMI Level 5, ISO 9001 and ISO 27001 compliant.</p>
<p>CNET supports all major integrated development environments (IDEs) such as Microsoft Visual Studio .NET, Eclipse, Anjuta C/C++, and PHPEdit.</p>

 <p><b>Services offered</b></p>
 <ul class="text-left">
 	<li>Application Development – Web and Mobile</li>
 	<li>Application Support &amp; Maintenance</li>
 	<li>Application Transformation – Integration, Re-engineering and Mainframe Modernization</li>
 	<li>Application Migration</li>
 </ul>
  <p><strong>Technologies Supported but not limited to</strong></p>
  <ul class="text-left">
  <li>Open-Source</li>
<li>C, C++, Java</li>
<li>C#.NET, VB.NET</li>
<li>Oracle, DB2, SQL Server</li>
<li>PERL, PHP, Phyton, Ruby On Rails</li>

  </ul>  
</div>