<head>
  <style>
  div{ font-size: 14px; }
    li{
      list-style-type: none; 
    }
    div{
      font-size: 14px;
    }
    p{
    text-align: justify;
      line-height: 25px;
    }
  </style>
</head>
<div class="container" style="padding: 25px 0;">
  <div class="row">
    <div class="col-xs-12">
      <h3 class="orange"> Digital Assurance </h3>
         
      <p>Accelerating time-to-market, delivering quality and a seamless end-user experience are key drivers for businesses today. These digital businesses rely heavily on back-office systems which comprise business logics, application codes and customer data with external touch points through web, social and mobile. With constant proliferation of technology and growth of the connected world, digital assurance is more than critical to any organization.</p>

      <p>CNET has been a preferred testing partner for many Fortune Companies through its extensive experience in using automation tools, Scriptless Test Automation Framework, Test Accelerators, Testing Center of Excellence (TCoE) (in fig. 1) and round-the-clock support for assuring business continuity.</p>
      
      <div class="text-left">
        <b>Our Digital Assurance Services include:</b>
          <ul>
            <li><strong>Testing Services</strong></li>
            <strong>Managed Testing</strong> – CNET provides the following on-demand test design and execution services following best-in-class processes, agile methodologies and automation to meet aggressive deadlines and reducing risk to business and achieve operational efficiencies.
              <ul>
                <li> - Functional Testing</li>
                <li> - SIT/ST</li>
                <li> - Regression Testing </li>
                <li> - Acceptance Testing </li>        
              </ul>
          </ul>
            <ul>
              <strong>Specialized Testing</strong> – CNET’s specialized Testing services include:
              <ul>
                <li> - Test Automation</li>
                <li> - SIT/ST</li>
                <li> - Performance Testing </li>
                <li> - Data Warehouse / BI Testing  </li>
              </ul>
            </ul>
              <li><strong>Test Consultancy</strong></li>
              <div class="clearfix"></div>
               <p>CNET’s advisory and consulting services helps organizations digitally transform to meet their business goals. We offer end to end QA IT evaluation and assessment services by defining the transformation</p>
               <p>blueprint across the tools rationalization and centralization of services to achieve process harmonization thus adding business value.</p>
               <p>We focus on Quality Improvement, Timely Delivery and Cost optimization. (add image below about test consultancy from slide)</p>
      </div>
    </div>        
  </div>
</div>