<head>
	<style>
	div{ font-size: 14px; }
    li{
      list-style-type: none; 
    }
    div{
      font-size: 14px;
    }
    p{
    text-align: justify;
      line-height: 25px;
    }
	</style>
</head>
<div class="container" style="padding: 25px 0;">
	<div class="row">
		<div class="col-xs-12">
			<h3 class="orange"> Enterprise Solutions Are At Your Fingertips </h3>
			<p>CNET Global Solutions, Ins. is a global leader when considering the best means of support of your business’s processes, data analytics, reporting systems, and information. Tying together the vast interconnected computing systems in today’s corporations is a challenging task even in the best of times. Ensuring that all systems involved in the process flow can “talk” to each other and keeping all departments, business units, and customers informed is part of CNET’s commitment to Enterprise System Management (ESM). By leveraging the best minds in the fields of ESM, CNET is uniquely positioned to structure your IT processes to maximize your return on investment. </p>
		  	<h5 class="text-left"><strong><strong>We utilize our experience to provide high quality, comprehensive Enterprise solutions in: </strong></strong></h5> 
		  	<ul  class="text-left">
		  		<li>Enterprise Resource Planning</li>
		  		<li>Enterprise Planning Systems</li>
		  		<li>Customer Relationship Management</li>
		  		<li>Supply Chain Management</li>
		  	</ul>  
		  	<p>To keep apace with the digital curve, enterprise functions today must support business transformation as the technology landscape continues to evolve. With concepts of BYOD becoming the new norm, CNET ensures on-demand enterprise availability with cross-platform enterprise solutions protecting both corporate as well as personal data.CNET has a strong focus on investment in innovation as well as inking strategic partnerships with best-of-breed packaged solution providers, helping customers optimize their core businesses and guiding them through their digitalization journey.</p>
			<p>CNET has been enabling organizations in providing world class employee experience through its <strong>Human Capital Management </strong>(HCM) Services.</p>
		 	<p>We also help organizations in Implementation, rollouts, upgrades and maintenance of Enterprise<strong><strong> Resource Planning</strong></strong> (ERP) Systems.</p>
			<p>Organizations have been able to transform their Supply Chain Systems and optimized growth by reducing complexities through CNET’s <strong>Supply Chain Management</strong> (SCM) Solutions.</p>
			<p>CNET ‘s digital enablement solutions for a personalized the customer experience helps out customers eliminate manual processes and embark on a digital transformation journey through its Customer <strong><strong>Relationship Management</strong></strong> (CRM)Solutions.</p>			
		</div>
	</div>
</div>