<head>
  <style>
  div{ font-size: 14px; }
    li{
      list-style-type: none; 
    }
    div{
      font-size: 14px;
    }
    p{
    text-align: justify;
      line-height: 25px;
    }
  </style>
</head>
 <div style="padding: 25px 0;">
    <h3 class="orange"> Sales force</h3><br>
    <p>CNET has vast experience in delivering Force.com customizations to meet varied business needs of organizations. We have a comprehensive full-service portfolio covering a complete spectrum of services right from strategy, design, implementation, migration, testing, integration and post-implementation support. </p>
 
    <p>CNET helps organizations derive maximum value from SFDC investments by aligning their business strategy with the CRM through automation and have delivered large complex projects across industries.</p>
    <p>CNET’s force.com Competency overview is listed below:</p>
    <table class="table  table-striped text-left" style="margin:50px 20px 20px 20px;"> <!-- table-bordered -->
      <thead>
        <tr>
          <th>Areas</th>
          <th>Modules</th>
        </tr>
      </thead>
      
      <tbody>
        <tr>
          <td>Administration</td>
          <td>
            <ul class="services_list">
            <li>User and User Interface Management</li>
            <li>Object and Field Customization</li>
            <li>Workflows and Approval Process</li>
            <li>Reports and Dashboards, Forecasting</li> 
            <li>Chatter </li>
            </ul>
          </td>
        </tr>
        
         <tr>
          <td>Development & deployment</td>
          <td>
            <ul class="services_list">
            <li>Apex ,Visual force, Data Loader, Eclipse, ANT</li>
            <li>Web services</li>
            <li>Force.com platform SFDC</li>
            <li>Mobile application Development</li> 
            </ul>
          </td>
        </tr>
        
         <tr>
          <td>Application Integrations</td>
          <td>
            <ul class="services_list">
            <li>Single Sign On</li>
            <li>Web Services ( Rest, Soap ), Force.com API , Web Method</li>
            <li>AppExchange  </li>
            <li>Integration framework with SAP, Oracle, Microsoft ERP systems</li> 
            </ul>
          </td>
        </tr>
        
        <tr>
          <td>Portals and Mobile</td>
          <td>
            <ul class="services_list">
            <li>Partner Portal, Customer Portal</li>
            <li>Force.com sites, Self service portal</li>
            <li>Salesforce mobile SDK, iOS, Android  </li>
            </ul>
          </td>
        </tr>
        
                <tr>
          <td>Integration Services</td>
          <td>
            <ul class="services_list">
            <li>Integration with 3rd party applications, Oracle, SAP, Microsoft ERP & leverage middleware – SAP PI. Informatica, Fiorana etc </li>
            </ul>
          </td>
        </tr>
  
      </tbody>
    </table>
    
    <P>CNET offers a smart shore approach to force.com deployments and helps achieve best cost value ratio. Our systematic approach and Smart Project Management Office helps manage extensive demand management and provides flexibility to determine what tasks can be performed offshore and hence ensure maximum utilization of resources and deliver operational excellence.</P>
  </div>